.new-line {
  position: relative;

  &::before {
    content: '→';
    position: relative;
    display: inline-block;
    padding-right: 0.25rem;
    font-weight: bolder;
    color: lightgreen;
  }
}

.option {
  color: $danger;

  span {
    color: $white;
  }

  &.selected {
    background: $white;

    span {
      color: $gray-900;
    }
  }
}
